<h2 class="font-display font-bold text-[22px] text-white mb-4">Stats</h2>

<div class="grid grid-cols-1 gap-4 md:grid-cols-4">
  <div class="flex flex-col justify-center rounded-xl border border-white/5 bg-midnight-850 px-7.5 py-6">
    <a href={~p"/media_profiles"} class="flex flex-col items-center py-2">
      <span class="text-md font-medium text-slate-400">
        Media <.pluralize count={@media_profile_count} word="Profile" />
      </span>
      <h4 class="text-title-md font-bold text-white">
        <.localized_number number={@media_profile_count} />
      </h4>
    </a>
  </div>
  <div class="flex flex-col justify-center rounded-xl border border-white/5 bg-midnight-850 px-7.5 py-6">
    <a href={~p"/sources"} class="flex flex-col items-center py-2">
      <span class="text-md font-medium text-slate-400">
        <.pluralize count={@source_count} word="Source" />
      </span>
      <h4 class="text-title-md font-bold text-white">
        <.localized_number number={@source_count} />
      </h4>
    </a>
  </div>
  <div class="flex flex-col justify-center rounded-xl border border-white/5 bg-midnight-850 px-7.5 py-6">
    <span class="flex flex-col items-center py-2">
      <span class="text-md font-medium text-slate-400">
        <.pluralize count={@media_item_count} word="Download" />
      </span>
      <h4 class="text-title-md font-bold text-white">
        <.localized_number number={@media_item_count} />
      </h4>
    </span>
  </div>
  <div class="flex flex-col justify-center rounded-xl border border-white/5 bg-midnight-850 px-7.5 py-6">
    <span class="flex flex-col items-center py-2">
      <span class="text-md font-medium text-slate-400">Library Size</span>
      <h4 class="text-title-md font-bold text-white">
        <.readable_filesize byte_size={@media_item_size} />
      </h4>
    </span>
  </div>
</div>

<div class="rounded-xl border border-white/5 bg-midnight-850 mt-4 p-5">
  <span class="text-2xl font-display font-medium text-white mb-4">Media History</span>
  <.tabbed_layout>
    <:tab title="Downloaded" id="downloaded">
      {live_render(
        @conn,
        Vdlarr.Pages.HistoryTableLive,
        session: %{"media_state" => "downloaded"}
      )}
    </:tab>
    <:tab title="Pending" id="pending">
      {live_render(
        @conn,
        Vdlarr.Pages.HistoryTableLive,
        session: %{"media_state" => "pending"}
      )}
    </:tab>
    <:tab title="Failed" id="failed">
      {live_render(
        @conn,
        Vdlarr.Pages.HistoryTableLive,
        session: %{"media_state" => "failed"}
      )}
    </:tab>
  </.tabbed_layout>
</div>
