<div class="mb-6 flex gap-3 flex-row items-center justify-between">
  <div class="flex gap-3 items-center">
    <h2 class="font-display font-bold text-[22px] text-white">
      Settings
    </h2>
  </div>
</div>
<div class="rounded-xl border border-white/5 bg-midnight-850 px-5 py-5 sm:px-7.5">
  <div class="max-w-full">
    <.setting_form conn={@conn} changeset={@changeset} action={~p"/settings"} />
  </div>
</div>
