<div class="mb-6 flex gap-3 flex-row items-center justify-between">
  <h2 class="text-title-md2 font-bold text-black dark:text-white">Hidden Sources</h2>
</div>

<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  <div class="max-w-full overflow-x-auto">
    {live_render(@conn, VdlarrWeb.Sources.SourceLive.IndexGridLive,
      session: %{
        "show_hidden" => true,
        "initial_sort_key" => :custom_name,
        "initial_sort_direction" => :asc,
        "results_per_page" => 30
      }
    )}
  </div>
</div>
