<div class="mb-6 flex gap-3 flex-row items-center">
  <.link href={~p"/sources"}>
    <.icon name="hero-arrow-left" class="w-10 h-10 hover:dark:text-white" />
  </.link>
  <h2 class="text-title-md2 font-bold text-black dark:text-white ml-4">Download a Single Video</h2>
</div>

<div class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
  <div class="max-w-full">
    <div class="flex flex-col gap-10">
      <.simple_form :let={f} for={@changeset} action={~p"/sources/new_video"} method="post">
        <.error :if={@changeset.action}>
          Oops, something went wrong! Please check the errors below.
        </.error>

        <.input
          field={f[:original_url]}
          type="text"
          label="Video URL"
          help="The URL of a single video (not a channel or playlist)"
          x-init="$el.focus()"
        />

        <.input
          field={f[:media_profile_id]}
          options={Enum.map(@media_profiles, &{&1.name, &1.id})}
          type="select"
          label="Media Profile"
          help="Sets your preferences for what media to look for and how to store it"
        />

        <.input
          field={f[:custom_name]}
          type="text"
          label="Custom Name"
          help="Does not impact downloading. Will be inferred from the video's title if left blank"
        />

        <.input
          field={f[:download_media]}
          type="toggle"
          label="Download Media"
          help="Unchecking still fetches the video's details but it won't be downloaded until you enable this option"
        />

        <.input
          field={f[:cookie_behaviour]}
          options={friendly_cookie_behaviours()}
          type="select"
          label="Cookie Behaviour"
          help="Uses your cookies for this download (if configured). 'When Needed' tries to minimize cookie usage except for certain indexing and downloading tasks. See docs"
        />

        <.button class="my-10 sm:mb-7.5 w-full sm:w-auto" rounding="rounded-lg">Download Video</.button>
      </.simple_form>
    </div>
  </div>
</div>
