<ul class="nav nav-tabs mb-4">
  <li class="nav-item"><a class="nav-link {{ 'active' if active_tab == 'general' }}" href="/settings">General</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if active_tab == 'auth' }}" href="/settings/auth">Authentication</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if active_tab == 'permissions' }}" href="/settings/permissions">Permissions</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if active_tab == 'currency' }}" href="/settings/currency">Currency</a></li>
  <li class="nav-item"><a class="nav-link disabled">Notifications</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if active_tab == 'about' }}" href="/settings/about">About</a></li>
</ul>
