<div class="mb-6 flex gap-3 flex-row items-center justify-between">
  <div class="flex gap-3 items-center">
    <h2 class="text-title-md2 font-bold text-white ml-4">
      Activity
    </h2>
  </div>
</div>
<div class="rounded-sm border shadow-default border-strokedark bg-boxdark p-5">
  {live_render(@conn, Pinchflat.Pages.JobTableLive)}
</div>
